[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "*"
keras = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
os = "*"
warnings = "*"
sys = "*"
re = "*"
sklearn = "*"
seaborn = "*"
scipy = "*"
logger = "*"
tqdm = "*"

[requires]
python_version = "3.7"
